################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MinimalAPI/MinimalAPI/bin/Debug/net6.0
/MinimalAPI/MinimalAPI/obj
/MinimalAPI/.vs/MinimalAPI
